<%= form_tag sessions_path, class: "form-stacked" do %>
  <!-- <%= label_tag :identifier, t("views.sessions._form.labels.identifier") %> -->
  <%= text_field_tag :identifier, params[:identifier], placeholder: t("views.sessions._form.placeholders.identifier") %>

  <!-- <%= label_tag :password, t("views.sessions._form.labels.password") %> -->
  <%= password_field_tag :password, params[:password], placeholder: t("views.sessions._form.placeholders.password") %>

  <%= submit_tag t("views.sessions._form.buttons.submit"), class: "button" %>

  <hr />

	<p><%= link_to_unless_current t("views.sessions._form.links.forgot_password"), new_password_reset_path  %></p>
<% end %>
