<%= render "background" %>

<div class="row">
  <div class="six columns">
    <section class="header">
      <header>
        <h1><%= title t("views.password_resets.new.title") %></h1>
      </header>
    </section>
  </div>
  <div class="six columns">
    <section class="content">

      <%= form_tag password_resets_path, class: "form-stacked" do %>
        <%= text_field_tag :identifier, params[:identifier], placeholder: t("views.password_resets.new.forms.placeholders.identifier") %>

        <%= submit_tag t("views.password_resets.new.forms.buttons.submit"), class: "button" %>
      <% end %>

      <hr />

      <p><%= t("views.password_resets.new.copy.reset_password") %></p>
    </section>
  </div><!-- /.twelve .columns -->
</div><!-- /.row -->
