<fieldset>
  <div class="row">
    <div class="six columns">
      <%= f.label :full_name, t("views.family_profiles._form.labels.full_name") %>
      <%= f.text_field :full_name %>
    </div>
    <div class="six columns">
      <%= f.label :born_at, t("views.family_profiles._form.labels.born_at") %>
      <%= f.date_select :born_at, prompt: true, start_year: (Time.now.year - 20), end_year: Time.now.year %>
    </div>
  </div>

  <%= f.label :interests_description, t("views.family_profiles._form.labels.interests_description") %>
  <%= f.text_area :interests_description, rows: 8 %>

  <%= f.label :special_needs_description, t("views.family_profiles._form.labels.special_needs_description") %>
  <%= f.text_area :special_needs_description, rows: 8 %>

  <p class="remove_field"><%= f.link_to_remove t("views.family_profiles._form.links.remove_this_child") %></p>
</fieldset>
