<%= render "background" %>

<div class="row">
  <div class="three columns">
    <section class="header">
      <header>
        <h1><%= title t("views.users.index.title") %></h1>
      </header>
    </section>
  </div><!-- /.three .columns -->
  <div class="nine columns">
    <section class="content">
      <table>
        <thead>
          <tr>
            <th><%= t("views.users.index.table.headings.number") %></th>
            <th><%= t("views.users.index.table.headings.role") %></th>
            <th><%= t("views.users.index.table.headings.state") %></th>
            <th><%= t("views.users.index.table.headings.full_name") %></th>
            <th><%= t("views.users.index.table.headings.since") %></th>
            <th><%= t("views.users.index.table.headings.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each_with_index do |user, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= t("models.user.roles.#{ user.role }") %></td>
              <td><%= t("models.user.states.#{ user.state }") %></td>
              <td><%= link_to user.full_name, user %></td>
              <td><%= user.created_at.strftime("%d/%b/%Y") %></td>
              <td>
                <%= link_to t("views.welcome._admin.links.edit"), edit_user_path(user) %>
                <% unless user.admin? %>
                  <% if user.registered? %>
                    | <%= link_to t("views.welcome._admin.links.archive"), archive_user_path(user), method: :put %>
                  <% elsif user.archived? %>
                    | <%= link_to t("views.welcome._admin.links.unarchive"), unarchive_user_path(user), method: :put %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section><!-- /.content -->
 </div><!-- /.nine .columns -->
</div><!-- /.row -->
