<%= render "background", background: "07" %>

<div class="row">
  <div class="six columns">
    <section class="header">
      <header>
        <h1><%= title t("views.welcome.about.title") %>
</h1>
      </header>
    </section>
  </div>
  <div class="six columns">

    <section class="content">
      <!-- Introduction to Needle in a Haystack Special Needs Childcare Agency -->
      <section>
        <%= t("views.welcome.about.copy.introduction.paragraph_1_html") %>
        <%= t("views.welcome.about.copy.introduction.paragraph_2_html") %>
        <%= t("views.welcome.about.copy.introduction.paragraph_3_html") %>
        <%= t("views.welcome.about.copy.introduction.paragraph_4_html") %>
        <%= t("views.welcome.about.copy.introduction.paragraph_5_html") %>
      </section>




      <!-- Company Founder -->
      <section>
        <h2><%= t("views.welcome.about.headings.our_founder") %></h2>

        <%= t("views.welcome.about.copy.our_founder.paragraph_1_html") %>
        <%= t("views.welcome.about.copy.our_founder.paragraph_2_html") %>
        <%= t("views.welcome.about.copy.our_founder.paragraph_3_html") %>
      </section>
    </section>

 </div><!-- /.six .columns .offset-by-six -->
</div><!-- /.row -->




<script type="text/javascript">
  $('#tab_about').addClass('active');
</script>
