<%= render "background", background: "12" %>

<div class="row">
  <div class="six columns">
    <section class="header">
      <header>
        <h1><%= title t("views.welcome.contact.title") %></h1>
      </header>
    </section>
  </div>
  <div class="six columns">
    <section class="content">

      <!-- Contact information -->
      <section>
        <address>
          <%= t("application.client.mail_html") %>
          <p>
            <%= t("views.welcome.contact.copy.contact_us_by_phone", phone_number: t("application.client.phone")) %>
            <%= t("views.welcome.contact.copy.or") %>
            <%= mail_to t("application.client.email"), t("views.welcome.contact.copy.contact_us_by_email"), encode: "hex" %><%= t("views.application.copy.full_stop") %>
          </p>

          <p>
            <%= t("views.welcome.contact.copy.find_us_on_facebook_html", facebook_page: link_to(t("views.welcome.contact.copy.facebook"), t("application.client.social_media.facebook.url"))) %>
          </p>
        </address>
      </section>

      <!-- Google map -->
      <section>
      </section>

    </section>
  </div><!-- /.twelve .columns -->
</div><!-- /.row -->




<script type="text/javascript">
  $('#tab_contact').addClass('active');
</script>
