<%= render "background", background: "09" %>

<div class="row">
  <div class="six columns">
    <section class="header">
      <header>
        <h1><%= title t("views.welcome.nannies.title") %>
</h1>
      </header>
    </section>
  </div>
  <div class="six columns">
    <section class="content">
      <!-- Page introduction -->
      <section>
        <%= t("views.welcome.nannies.copy.introduction.paragraph_1_html") %>
        <%= t("views.welcome.nannies.copy.introduction.paragraph_2_html") %>
      </section>

       


      <!-- Duties -->
      <section>
        <h2><%= t("views.welcome.nannies.headings.duties") %></h2>

        <%= t("views.welcome.nannies.copy.duties.paragraph_1_html") %>
      </section>




      <!-- Different Titles -->
      <section>
        <h2><%= t("views.welcome.nannies.headings.different_titles") %></h2>

        <%= t("views.welcome.nannies.copy.different_titles.paragraph_1_html") %>
      </section>




      <!-- Different Titles -->
      <section>
        <h2><%= t("views.welcome.nannies.headings.children_with_additional_needs") %></h2>

        <%= t("views.welcome.nannies.copy.children_with_additional_needs.paragraph_1_html") %>
        <%= t("views.welcome.nannies.copy.children_with_additional_needs.paragraph_2_html") %>
        <%= t("views.welcome.nannies.copy.children_with_additional_needs.paragraph_3_html") %>
        <%= t("views.welcome.nannies.copy.children_with_additional_needs.paragraph_4_html") %>
        <%= t("views.welcome.nannies.copy.children_with_additional_needs.paragraph_5_html") %>
      </section>




      <!-- Becoming Part of Our Team -->
      <section>
        <h2><%= t("views.welcome.nannies.headings.becoming_part_of_our_team") %></h2>

        <%= t("views.welcome.nannies.copy.becoming_part_of_our_team.paragraph_1_html") %>
        <%= t("views.welcome.nannies.copy.becoming_part_of_our_team.paragraph_2_html") %>
        <%= t("views.welcome.nannies.copy.becoming_part_of_our_team.paragraph_3_html") %>
        <%= t("views.welcome.nannies.copy.becoming_part_of_our_team.paragraph_4_html") %>

        <ol>
          <li><%= t("views.welcome.nannies.copy.becoming_part_of_our_team.list.item_1") %></li>
          <li><%= t("views.welcome.nannies.copy.becoming_part_of_our_team.list.item_2") %></li>
          <li><%= t("views.welcome.nannies.copy.becoming_part_of_our_team.list.item_3") %></li>
          <li><%= t("views.welcome.nannies.copy.becoming_part_of_our_team.list.item_4") %></li>
          <li><%= t("views.welcome.nannies.copy.becoming_part_of_our_team.list.item_5") %></li>
          <li><%= t("views.welcome.nannies.copy.becoming_part_of_our_team.list.item_6") %></li>
        </ol>
      </section>




      <!-- After Placement Support -->
      <section>
        <h2><%= t("views.welcome.nannies.headings.after_placement_support") %></h2>

        <%= t("views.welcome.nannies.copy.after_placement_support.paragraph_1_html") %>
      </section>




      <!-- Employment Contracts -->
      <section>
        <h2><%= t("views.welcome.nannies.headings.employment_contracts") %></h2>

        <%= t("views.welcome.nannies.copy.employment_contracts.paragraph_1_html") %>
        <%= t("views.welcome.nannies.copy.employment_contracts.paragraph_2_html") %>

        <ul>
          <li><%= t("views.welcome.nannies.copy.employment_contracts.list.item_1") %></li>
          <li><%= t("views.welcome.nannies.copy.employment_contracts.list.item_2") %></li>
          <li><%= t("views.welcome.nannies.copy.employment_contracts.list.item_3") %></li>
          <li><%= t("views.welcome.nannies.copy.employment_contracts.list.item_4") %></li>
          <li><%= t("views.welcome.nannies.copy.employment_contracts.list.item_5") %></li>
          <li><%= t("views.welcome.nannies.copy.employment_contracts.list.item_6") %></li>
          <li><%= t("views.welcome.nannies.copy.employment_contracts.list.item_7") %></li>
          <li><%= t("views.welcome.nannies.copy.employment_contracts.list.item_8") %></li>
        </ul>
      </section>
    </section>
  </div><!-- /.twelve .columns -->
</div><!-- /.row -->




<script type="text/javascript">
  $('#tab_nannies').addClass('active');
</script>
