<%= render "background", background: "10" %>

<div class="row">
  <div class="six columns">
    <section class="header">
      <header>
        <h1><%= title t("views.welcome.fees.title") %></h1>
      </header>
    </section>
  </div>
  <div class="six columns">
    <section class="content">
      <section>

       <table>
        <tr>
          <td><%= t("views.welcome.fees.table.data.consultation_deposit") %></td>
          <td><%= t("views.welcome.fees.table.data.consultation_deposit_fee_html") %></td>
        </tr>
        <tr>
          <td><%= t("views.welcome.fees.table.data.full_time_placements") %></td>
          <td><%= t("views.welcome.fees.table.data.full_time_placements_fee_html") %></td>
        </tr>
        <tr>
          <td><%= t("views.welcome.fees.table.data.part_time_placement") %></td>
          <td><%= t("views.welcome.fees.table.data.part_time_placement_fee_html") %></td>
        </tr>
        <tr>
          <td><%= t("views.welcome.fees.table.data.temporary_positions") %></td>
          <td><%= t("views.welcome.fees.table.data.temporary_positions_fee_html") %></td>
        </tr>
        <!--
        <tr>
          <td>Babysitters and tutors database</td>
          <td>$50.00 per month</td>
        </tr>
        -->
      </table>

     </section>
    </section>
  </div><!-- /.twelve .columns -->
</div><!-- /.row -->




<script type="text/javascript">
  $('#tab_fees').addClass('active');
</script>
