<%= render "background", background: "08" %>

<div class="row">
  <div class="six columns">
    <section class="header">
      <header>
        <h1><%= title t("views.welcome.terms.title") %></h1>
      </header>
    </section>
  </div>

  <div class="six columns">
    <!-- Overview -->
    <section class="content">
      <section>
        <ol>
          <li><%= t("views.welcome.terms.copy.overview.list.item_1_html") %></li>
          <li><%= t("views.welcome.terms.copy.overview.list.item_2_html") %></li>
          <li><%= t("views.welcome.terms.copy.overview.list.item_3_html") %></li>
          <li><%= t("views.welcome.terms.copy.overview.list.item_4_html") %></li>
          <li><%= t("views.welcome.terms.copy.overview.list.item_5_html") %></li>
          <li><%= t("views.welcome.terms.copy.overview.list.item_6_html") %></li>
          <li><%= t("views.welcome.terms.copy.overview.list.item_7_html") %></li>
          <li><%= t("views.welcome.terms.copy.overview.list.item_8_html") %></li>
          <li><%= t("views.welcome.terms.copy.overview.list.item_9_html") %></li>
          <li><%= t("views.welcome.terms.copy.overview.list.item_10_html") %></li>
          <li><%= t("views.welcome.terms.copy.overview.list.item_11_html") %></li>
          <li><%= t("views.welcome.terms.copy.overview.list.item_12_html") %></li>
        </ol>

        <%= t("views.welcome.terms.copy.overview.paragraph_1_html") %>
        <%= t("views.welcome.terms.copy.overview.paragraph_2_html") %>
      </section>

      <!-- Conditions of Guarantee/Refund -->
      <section>
        <h2><%= t("views.welcome.terms.headings.conditions_of_guarantee_or_refund") %></h2>

        <%= t("views.welcome.terms.copy.conditions_of_guarantee_or_refund.paragraph_1_html") %>

        <ol>
          <li><%= t("views.welcome.terms.copy.conditions_of_guarantee_or_refund.list.item_1_html") %></li>
          <li><%= t("views.welcome.terms.copy.conditions_of_guarantee_or_refund.list.item_2_html") %></li>
          <li><%= t("views.welcome.terms.copy.conditions_of_guarantee_or_refund.list.item_3_html") %></li>
          <li><%= t("views.welcome.terms.copy.conditions_of_guarantee_or_refund.list.item_4_html") %></li>
          <li><%= t("views.welcome.terms.copy.conditions_of_guarantee_or_refund.list.item_5_html") %></li>
          <li><%= t("views.welcome.terms.copy.conditions_of_guarantee_or_refund.list.item_6_html") %></li>
          <li><%= t("views.welcome.terms.copy.conditions_of_guarantee_or_refund.list.item_7_html") %></li>
          <li><%= t("views.welcome.terms.copy.conditions_of_guarantee_or_refund.list.item_8_html") %></li>
          <li><%= t("views.welcome.terms.copy.conditions_of_guarantee_or_refund.list.item_9_html") %></li>
        </ol>
      </section>
    </section>
  </div><!-- /.twelve .columns -->
</div><!-- /.row -->




<script type="text/javascript">
  $('#tab_terms').addClass('active');
</script>
