<div class="reference">
  <p>
    <strong><%= reference.full_name %></strong>,

    <%= reference.relationship %><%= t("views.application.copy.full_stop") %>

    <% if reference.known_since.present? %>
      <%= t("views.references._reference.copy.known_since", date: reference.known_since.strftime("%Y")) %><%= t("views.application.copy.full_stop") %>
    <% end %>
  </p>

  <%= render reference.addresses %>
  <br />
</div>
