<fieldset>
  <legend><%= t("views.nanny_profiles._form.legends.reference") %></legend>
  <div class="row">
    <div class="four columns">
      <%= f.label :full_name, t("views.nanny_profiles._form.labels.full_name") %>
      <%= f.text_field :full_name %>
    </div>
    <div class="four columns">
      <%= f.label :relationship, t("views.nanny_profiles._form.labels.relationship") %>
      <%= f.text_field :relationship %>
    </div>
    <div class="four columns">
      <%= f.label :known_since, t("views.nanny_profiles._form.labels.known_since") %>
      <%= f.date_select :known_since, prompt: true, discard_day: true, discard_month: true, start_year: (Time.now.year - 50), end_year: Time.now.year %>
    </div>
  </div>

  <p class="remove_field"><%= f.link_to_remove t("views.nanny_profiles._form.links.remove_this_reference") %></p>
</fieldset>
