<%= nested_form_for(@nanny_profile) do |f| %>
  <%= render "errors", nanny_profile: @nanny_profile %>

  <fieldset>
    <legend><%= t("views.nanny_profiles._form.legends.names") %></legend>
    <%= f.label :full_name, t("views.nanny_profiles._form.labels.full_name") %>
    <%= f.text_field :full_name %>

    <%= f.label :previous_full_names, t("views.nanny_profiles._form.labels.previous_full_names") %>
    <%= f.text_area :previous_full_names, rows: 3 %>
  </fieldset>




  <fieldset>
    <legend><%= t("views.nanny_profiles._form.legends.addresses") %></legend>

    <%= t("views.nanny_profiles._form.copy.previous_addresses_html") %>

    <div class="row">
      <div class="six columns">
        <%= f.label :current_address_since_at, t("views.nanny_profiles._form.labels.current_address_since_at") %>
        <%= f.date_select :current_address_since_at, prompt: true %>
      </div>
      <div class="six columns">
        <%= f.label :contact_preference, t("views.nanny_profiles._form.labels.contact_preference") %>
        <%= f.select :contact_preference, Address::CONTACT_METHODS, prompt: true %>
      </div>
    </div>

    <%= f.fields_for :addresses %>
    <p class="add_field"><%= f.link_to_add t("views.nanny_profiles._form.links.add_an_address"), :addresses %></p>
  </fieldset>




  <fieldset>
    <legend><%= t("views.nanny_profiles._form.legends.licenses_and_certification")%></legend>

    <fieldset>
      <div class="row">
        <div class="six columns">
          <%= f.label :is_authorised_to_work_in_the_united_states, t("views.nanny_profiles._form.labels.is_authorised_to_work_in_the_united_states") %>
          <%= f.check_box :is_authorised_to_work_in_the_united_states %>

          <%= t("views.nanny_profiles._form.copy.authorisation_to_work_in_the_united_states_documentation_required_html") %>
        </div>
        <div class="six columns">
          <%= f.label :has_a_valid_drivers_license, t("views.nanny_profiles._form.labels.has_a_valid_drivers_license_html") %>
          <%= f.check_box :has_a_valid_drivers_license %>

          <%= t("views.nanny_profiles._form.copy.driving_record_checks_html") %>
        </div>
      </div>

    </fieldset>

    <fieldset>
      <legend><%= t("views.nanny_profiles._form.legends.first_aid")%></legend>
      <div class="row">
        <div class="six columns">
          <%= f.label :is_certified_in_child_first_aid, t("views.nanny_profiles._form.labels.is_certified_in_child_first_aid") %>
          <%= f.check_box :is_certified_in_child_first_aid %>

          <%= f.label :is_willing_to_become_first_aid_certified, t("views.nanny_profiles._form.labels.is_willing_to_become_first_aid_certified") %>
          <%= f.check_box :is_willing_to_become_first_aid_certified %>
        </div>
        <div class="six columns">
          <%= f.label :first_aid_certification_expires_at, t("views.nanny_profiles._form.labels.first_aid_certification_expires_at") %>
          <%= f.date_select :first_aid_certification_expires_at, prompt: true %>
        </div>
      </div>
    </fieldset>




    <fieldset>
      <legend><%= t("views.nanny_profiles._form.legends.cpr")%></legend>
      <div class="row">
        <div class="six columns">
          <%= f.label :is_certified_in_child_cpr, t("views.nanny_profiles._form.labels.is_certified_in_child_cpr") %>
          <%= f.check_box :is_certified_in_child_cpr %>

          <%= f.label :is_willing_to_become_cpr_certified, t("views.nanny_profiles._form.labels.is_willing_to_become_cpr_certified") %>
          <%= f.check_box :is_willing_to_become_cpr_certified %>
        </div>
        <div class="six columns">
          <%= f.label :cpr_certification_expires_at, t("views.nanny_profiles._form.labels.cpr_certification_expires_at") %>
          <%= f.date_select :cpr_certification_expires_at, prompt: true %>
        </div>
      </div>
    </fieldset>
  </fieldset>




  <fieldset>
    <legend><%= t("views.nanny_profiles._form.legends.convictions")%></legend>
    <%= f.label :has_been_convicted_of_a_felony, t("views.nanny_profiles._form.labels.has_been_convicted_of_a_felony") %>
    <%= f.check_box :has_been_convicted_of_a_felony %>

    <%= f.label :felony_conviction_description, t("views.nanny_profiles._form.labels.felony_conviction_description") %>
    <%= f.text_area :felony_conviction_description, rows: 8 %>
  </fieldset>




  <fieldset>
    <legend><%= t("views.nanny_profiles._form.legends.languages_spoken")%></legend>
    <%= f.label :languages_spoken, t("views.nanny_profiles._form.labels.languages_spoken") %>
    <%= f.text_area :languages_spoken, rows: 4 %>
  </fieldset>




  <fieldset>
    <legend><%= t("views.nanny_profiles._form.legends.employers") %></legend>

    <%= t("views.nanny_profiles._form.copy.employers_html") %>

    <p><%= f.check_box :can_contact_current_employer %> <%= t("views.nanny_profiles._form.copy.can_contact_current_employer") %></p>

    <%= f.fields_for :employers %>
    <p class="add_field"><%= f.link_to_add t("views.nanny_profiles._form.links.add_an_employer"), :employers %></p>
  </fieldset>




  <fieldset>
    <legend><%= t("views.nanny_profiles._form.legends.childcare_experience_description")%></legend>
    <%= f.label :childcare_experience_description, t("views.nanny_profiles._form.labels.childcare_experience_description") %>
    <%= f.text_area :childcare_experience_description %>
  </fieldset>




  <fieldset>
    <legend><%= t("views.nanny_profiles._form.legends.hobbies_description")%></legend>
    <%= f.label :hobbies_description, t("views.nanny_profiles._form.labels.hobbies_description") %>
    <%= f.text_area :hobbies_description, rows: 5 %>
  </fieldset>




  <fieldset>
    <legend><%= t("views.nanny_profiles._form.legends.ideal_work_description")%></legend>
    <%= f.label :available_to_start_at, t("views.nanny_profiles._form.labels.available_to_start_at") %>
    <%= f.date_select :available_to_start_at, prompt: true %>

    <%= f.label :ideal_work_description, t("views.nanny_profiles._form.labels.ideal_work_description") %>
    <%= f.text_area :ideal_work_description %>
  </fieldset>




  <fieldset>
    <legend><%= t("views.nanny_profiles._form.legends.work_location_preference_description")%></legend>
    <%= f.label :work_location_preference_description, t("views.nanny_profiles._form.labels.work_location_preference_description") %>
    <%= f.text_area :work_location_preference_description, rows: 5 %>
  </fieldset>




  <fieldset>
    <p><%= t("views.nanny_profiles._form.copy.references") %></p>

    <legend><%= t("views.nanny_profiles._form.legends.references") %></legend>
    <%= f.fields_for :references %>
    <p class="add_field"><%= f.link_to_add t("views.nanny_profiles._form.links.add_a_reference"), :references %></p>

    <hr />

    <%= t("views.nanny_profiles._form.copy.reference_check_html") %>
  </fieldset>




  <fieldset>
    <%= t("views.nanny_profiles._form.copy.background_checks_html") %>

    <%= t("views.nanny_profiles._form.copy.recordkeeping_html") %>

    <%= t("views.nanny_profiles._form.copy.drug_screens_html") %>
  </fieldset>




  <fieldset>
    <legend><%= t("views.nanny_profiles._form.legends.statement_of_truth") %></legend>

    <p>
      <%= t("views.nanny_profiles._form.copy.statement_of_truth_html") %>
      (<%= f.check_box :statement_of_truth %>)
    </p>

    <p><%= link_to t("views.nanny_profiles._form.links.terms_of_use"), terms_path %><%= t("views.application.copy.full_stop") %><p>
  </fieldset>

  <%= f.submit class: "button" %>
<% end %>


<!--
:
:commitment_preference
:date_of_birth
:work_accomodation_preference
-->
