<%= render "background" %>

<div class="row">
  <div class="four columns">
    <section class="header">
      <header>
        <% if current_user.admin? && @user != current_user %>
          <h1><%= title t("views.nanny_profiles.show.title_admin") %></h1>
        <% else %>
          <h1><%= title t("views.nanny_profiles.show.title") %></h1>
        <% end %>
      </header>
    </section>
  </div><!-- /.three .columns -->
  <div class="eight columns">
    <section class="content">
      <% if current_user.admin? %>
        <ul class="sub-nav" data-magellan-expedition="fixed">
          <li><%= link_to t("views.nanny_profiles.show.links.note"), new_nanny_profile_note_path(@nanny_profile) %></li>
          <li><%= link_to t("views.nanny_profiles.show.links.notes"), nanny_profile_notes_path(@nanny_profile) %></li>
          <li><%= link_to t("views.nanny_profiles.show.links.edit"), edit_nanny_profile_path(@nanny_profile) %></li>
        </ul>
      <% else %>
        <p class="right"><%= link_to t("views.nanny_profiles.show.links.edit"), edit_nanny_profile_path(@nanny_profile) %></p>
      <% end %>




      <!-- Name -->
      <% if @nanny_profile.full_name.present? %>
        <hr />

        <div class="row">
          <div class="three columns heading">
            <p><%= t("views.nanny_profiles.show.headings.names") %></p>
          </div><!-- /.three .columns .heading -->
          <div class="nine columns">
            <p><strong><%= @nanny_profile.full_name %></strong></p>

            <% if @nanny_profile.previous_full_names.present? %>
              <p><strong class="heading"><%= t("views.nanny_profiles.show.headings.previous_full_names") %></strong></p>
              <%= simple_format @nanny_profile.previous_full_names %>
            <% end %>
          </div><!-- /.nine .columns -->
        </div><!-- /.row -->
      <% end %>




      <!-- Date of Birth -->
      <% if @nanny_profile.date_of_birth.present? %>
        <hr />

        <div class="row">
          <div class="three columns heading">
            <p><%= t("views.nanny_profiles.show.headings.date_of_birth") %></p>
          </div><!-- /.three .columns .heading -->
          <div class="nine columns">
            <p><%= @nanny_profile.date_of_birth.strftime("%A, %e %B %Y") %></p>
          </div><!-- /.nine .columns -->
        </div><!-- /.row -->
      <% end %>




      <!-- Address -->
      <% if @nanny_profile.addresses.present? %>
        <hr />

        <div class="row">
          <div class="three columns heading">
            <p><%= t("views.nanny_profiles.show.headings.address") %></p>
          </div><!-- /.three .columns .heading -->
          <div class="nine columns">

            <% if @nanny_profile.current_address_since_at.present? %>
              <p><%= t("views.nanny_profiles.show.copy.current_address_since_at", date: @nanny_profile.current_address_since_at.strftime("%B %Y")) %></p>
            <% end %>

            <% if @nanny_profile.contact_preference.present? || @nanny_profile.best_time_to_contact.present? %>
              <p>
                <strong class="heading"><%= t("views.nanny_profiles.show.headings.contact_preference") %></strong><br />
                <% if @nanny_profile.contact_preference.present? %>
                  <%= t("views.nanny_profiles.show.copy.contact_preferences.#{@nanny_profile.contact_preference}") %><%= t("views.application.copy.full_stop") %>
                <% end %>
                <% if @nanny_profile.best_time_to_contact.present? %>
                  <%= @nanny_profile.best_time_to_contact %><%= t("views.application.copy.full_stop") %>
                <% end %>
              </p>
            <% end %>

            <%= render @nanny_profile.addresses %>

          </div><!-- /.nine .columns -->
        </div><!-- /.row -->
      <% end %>




      <!-- Resume -->
      <% if @nanny_profile.resume? %>
        <hr />

        <div class="row">
          <div class="three columns heading">
            <p><%= t("views.nanny_profiles.show.headings.resume_html") %></p>
          </div><!-- /.three .columns .heading -->
          <div class="nine columns">
            <p>
              <%= link_to t("views.nanny_profiles.show.links.resume_html"), resume_nanny_profile_path(@nanny_profile) %>
            </p>
          </div>
        </div>
      <% end %>




      <!-- Education -->
      <% if @nanny_profile.educations.present? %>
        <hr />

        <div class="row">
          <div class="three columns heading">
            <p><%= t("views.nanny_profiles.show.headings.education") %></p>
          </div><!-- /.three .columns .heading -->
          <div class="nine columns">
            <%= render @nanny_profile.educations %>
          </div>
        </div>
      <% end %>




      <!-- Work History -->
      <% if @nanny_profile.employers.present? || @nanny_profile.can_contact_current_employer? %>
        <hr />

        <div class="row">
          <div class="three columns heading">
            <p><%= t("views.nanny_profiles.show.headings.employers") %></p>
          </div><!-- /.three .columns .heading -->
          <div class="nine columns">

            <% if @nanny_profile.can_contact_current_employer? %>
              <p><%= t("views.nanny_profiles.show.copy.can_contact_current_employer") %></p>
            <% end %>

            <%= render @nanny_profile.employers %>

          </div>
        </div>
      <% end %>




      <hr />




      <!-- Licenses and certification -->
      <div class="row">
        <div class="three columns heading">
          <p><%= t("views.nanny_profiles.show.headings.licenses_and_certification") %></p>
        </div><!-- /.three .columns .heading -->
        <div class="nine columns">
          <p>
            <% if @nanny_profile.is_authorised_to_work_in_the_united_states? %>
              <%= t("views.nanny_profiles.show.copy.is_authorised_to_work_in_the_united_states") %><%= t("views.application.copy.full_stop") %>
            <% else %>
              <%= t("views.nanny_profiles.show.copy.is_not_authorised_to_work_in_the_united_states_html") %><%= t("views.application.copy.full_stop") %>
            <% end %>
          </p>

          <p>
            <% if @nanny_profile.has_a_valid_drivers_license? %>
              <%= t("views.nanny_profiles.show.copy.has_a_valid_drivers_license_html") %><%= t("views.application.copy.full_stop") %>
            <% else %>
              <%= t("views.nanny_profiles.show.copy.does_not_have_a_valid_drivers_license_html") %><%= t("views.application.copy.full_stop") %>
            <% end %>
          </p>

          <p>
            <% if @nanny_profile.is_certified_in_child_first_aid? %>
              <%= t("views.nanny_profiles.show.copy.is_certified_in_child_first_aid") %><%= t("views.application.copy.full_stop") %>
              <% if @nanny_profile.first_aid_certification_expires_at.present? %>
                <%= t("views.nanny_profiles.show.copy.first_aid_certification_expires_at", expiration_date: @nanny_profile.first_aid_certification_expires_at.strftime("%e %B %Y")) %><%= t("views.application.copy.full_stop") %>
              <% end %>
            <% else %>
              <% if @nanny_profile.is_willing_to_become_first_aid_certified? %>
                <%= t("views.nanny_profiles.show.copy.is_willing_to_become_first_aid_certified") %><%= t("views.application.copy.full_stop") %>
              <% else %>
                <%= t("views.nanny_profiles.show.copy.is_not_certified_in_child_first_aid_html") %><%= t("views.application.copy.full_stop") %>
              <% end %>
            <% end %>
          </p>

          <p>
            <% if @nanny_profile.is_certified_in_child_cpr? %>
              <%= t("views.nanny_profiles.show.copy.is_certified_in_child_cpr") %><%= t("views.application.copy.full_stop") %>
              <% if @nanny_profile.cpr_certification_expires_at.present? %>
                <%= t("views.nanny_profiles.show.copy.cpr_certification_expires_at", expiration_date: @nanny_profile.cpr_certification_expires_at.strftime("%e %B %Y")) %><%= t("views.application.copy.full_stop") %>
              <% end %>
            <% else %>
              <% if @nanny_profile.is_willing_to_become_cpr_certified? %>
                <%= t("views.nanny_profiles.show.copy.is_willing_to_become_cpr_certified") %><%= t("views.application.copy.full_stop") %>
              <% else %>
                <%= t("views.nanny_profiles.show.copy.is_not_certified_in_child_cpr_html") %><%= t("views.application.copy.full_stop") %>
              <% end %>
            <% end %>
          </p>

        </div><!-- /.nine .columns -->
      </div><!-- /.row -->








      <!-- Languages spoken -->
      <% if @nanny_profile.languages_spoken.present? %>
        <hr />

        <div class="row">
          <div class="three columns heading">
            <p><%= t("views.nanny_profiles.show.headings.languages_spoken") %></p>
          </div><!-- /.three .columns .heading -->
          <div class="nine columns">
            <%= simple_format @nanny_profile.languages_spoken %>
          </div><!-- /.nine .columns -->
        </div><!-- /.row -->
      <% end %>




      <!-- Childcare experience -->
      <% if @nanny_profile.childcare_experience_description.present? %>
        <hr />

        <div class="row">
          <div class="three columns heading">
            <p><%= t("views.nanny_profiles.show.headings.childcare_experience_description") %></p>
          </div><!-- /.three .columns .heading -->
          <div class="nine columns">
            <%= simple_format @nanny_profile.childcare_experience_description %>
          </div><!-- /.nine .columns -->
        </div><!-- /.row -->
      <% end %>




      <% if @nanny_profile.hobbies_description.present? %>
        <hr />

        <div class="row">
          <div class="three columns heading">
            <p><%= t("views.nanny_profiles.show.headings.hobbies_description") %></p>
          </div><!-- /.three .columns .heading -->
          <div class="nine columns">
            <%= simple_format @nanny_profile.hobbies_description %>
          </div><!-- /.nine .columns -->
        </div><!-- /.row -->
      <% end %>




      <!-- Ideal work situation -->
      <% if
        @nanny_profile.commitment_preference.present? ||
        @nanny_profile.ideal_work_description.present? ||
        @nanny_profile.work_accommodation_preference.present? ||
        @nanny_profile.available_to_start_at.present? ||
        @nanny_profile.ideal_work_description ||
        @nanny_profile.work_location_preference_description
      %>
        <hr />

        <div class="row">
          <div class="three columns heading">
            <p><%= t("views.nanny_profiles.show.headings.ideal_work_description") %></p>
          </div><!-- /.three .columns .heading -->
          <div class="nine columns">
            <p><%= t("views.nanny_profiles.show.copy.ideally") %></p>

            <ul class="indented">
              <% if @nanny_profile.commitment_preference.present? %>
                <li><%= t("views.nanny_profiles.show.lists.list_items.commitment_preferences.#{@nanny_profile.commitment_preference}") %></li>
              <% end %>

              <% if @nanny_profile.work_accommodation_preference.present? %>
                <li><%= t("views.nanny_profiles.show.lists.list_items.work_accommodation_preferences.#{@nanny_profile.work_accommodation_preference}") %></li>
              <% end %>

              <% if @nanny_profile.available_to_start_at.present? %>
                <li><%= t("views.nanny_profiles.show.lists.list_items.available_to_start_at", start_date: @nanny_profile.available_to_start_at.strftime("%A, %e %B %Y")) %></li>
              <% end %>
            </ul>

            <p><strong class="heading"><%= t("views.nanny_profiles.show.headings.ideal_work_description") %></strong></p>
            <%= simple_format @nanny_profile.ideal_work_description %>

            <p><strong class="heading"><%= t("views.nanny_profiles.show.headings.work_location_preference_description") %></strong></p>
            <%= simple_format @nanny_profile.work_location_preference_description %>
          </div><!-- /.nine .columns -->
        </div><!-- /.row -->
      <% end %>




      <% if @nanny_profile.has_been_convicted_of_a_felony? %>
        <hr />

        <div class="row">
          <div class="three columns heading">
            <p><%= t("views.nanny_profiles.show.headings.has_been_convicted_of_a_felony") %></p>
          </div><!-- /.three .columns .heading -->
          <div class="nine columns">
            <p><%= t("views.nanny_profiles.show.copy.has_been_convicted_of_a_felony") %><%= t("views.application.copy.full_stop") %></p>
            <%= simple_format @nanny_profile.felony_conviction_description %>
          </div><!-- /.nine .columns -->
        </div><!-- /.row -->
      <% end %>




      <% if @nanny_profile.references.present? %>
        <hr />

        <div class="row">
          <div class="three columns heading">
            <p><%= t("views.nanny_profiles.show.headings.references") %></p>
          </div><!-- /.three .columns .heading -->
          <div class="nine columns">
            <%= render @nanny_profile.references %>
          </div><!-- /.nine .columns -->
        </div><!-- /.row -->
      <% end %>

    </section><!-- /.content -->
 </div><!-- /.nine .columns -->
</div><!-- /.row -->
