<div class="row">
  <div class="twelve columns">
    <div id="navigation_pane">
      <p id="user_links">
        <% if user_signed_in? %>
          <%= current_user.first_name %>
          | <%= link_to_unless_current t("views.application._navigation.links.account_settings"), account_settings_path %>
          | <%= link_to_unless_current t("views.application._navigation.links.sign_out"), sign_out_path %>
        <% else %>
          <%= link_to_unless_current t("views.application._navigation.links.sign_up"), sign_up_path %>
          | <%= link_to_unless_current t("views.application._navigation.links.sign_in"), sign_in_path %>
        <% end %>
      </p><!-- /#user_links -->

      <div class="contain-to-grid">
        <nav class="top-bar">
          <ul>
            <li class="name"><h1><%= link_to t("application.name"), root_path %></h1></li>
            <li class="toggle-topbar"><a href="#"></a></li>
          </ul>
          <section>
            <ul class="right">
              <li><%= link_to t("views.application._navigation.links.about"), about_path %></li>
              <li><%= link_to t("views.application._navigation.links.nannies"), nannies_path %></li>
              <li><%= link_to t("views.application._navigation.links.terms"), terms_path %></li>
              <li><%= link_to t("views.application._navigation.links.contact"), contact_path %></li>
              <li><%= link_to t("views.application._navigation.links.fees"), fees_path %></li>
            </ul>
          </section>
        </nav>
      </div><!-- /.contain-to-grid -->
    </div><!-- /#navigation_pane -->
  </div><!-- /.twelve columns -->
</div><!-- /.row -->
