<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <%= display_meta_tags(default_meta_tags) %>

  <%= render "viewport" %>

  <%= stylesheet_link_tag    "application" %>

  <%= javascript_include_tag "application" %>

  <%= render "norton_web_safe" %>

  <%= render "favicons" %>

  <%= csrf_meta_tags %>

  <%= render "analytics" %>
</head>
<body id="<%= body_id %>">
  <%= render "logo" %>

  <%= render "navigation" %>

  <%= render "notifications" %>

  <%= yield %>

  <%= render "footer" %>
</body>
